#title{
  font-family: cursive;
  font-size: 35px ;
  font-weight: bold ;
  text-align:center ;
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-screen{
    background-color: rgb(240, 240, 240);
    margin: auto;
    height: 100vh;
  
}

#center-screen{
  background-color: white;
  margin: auto;
  width: 845px;
  height: 100vh;
  padding: 10px;
}




#canvas-container {
  display: flex;
}

#canvas {
  width : 410px;
  height:410px;
background-color: white;
margin-right: 5px;
float: left;
border-color:black;
border-style: solid;
border-radius: 25px;
}

#square {
  width:410px;
  height:410px;
  margin-left: 5px;
background-color: rgb(255, 255, 255);
float:right;
border-color: black;
border-style: solid;
border-radius: 25px;
}

#level{

  font-family: cursive;
  font-size: 20px;
}

#system {

 font-family: initial;
  font-size: 20px;
}